{% extends "layout.html" %}
{% block body %}
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="{{ url_for('static', filename='sockets.js') }}"></script>
<div id='main'>
    <div class="hero-unit">
        <h1>Chaos!</h1>
        <p>Oh, cool! Let's fight with mess and be exellent to each other!</p>
        <a href="" class="btn btn-success">Learn more!</a>
    </div>
    <h2>Available devices</h2>
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src='http://placekitten.com/100/100'/>
    </a>
    <div class="media-body">
    <h4 class="media-heading">Camera 1</h4>
    <p>Camera placed in the first room</p>
    </div>
</div>

    <hr />
    <h2>Camera 1</h2>

<img class="media-object" src="{{ url_for('static', filename=path)}}"/>
<div class="pagination pagination-large">
    <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li><a href="#">7</a></li>
    <li><a href="#">8</a></li>
    <li><a href="#">9</a></li>
    <li><a href="#">10</a></li>
    <li><a href="#">Next</a></li>
    </ul>
    </div>

    <h2>Camera one tables - basic info</h2>
    <p>Tablu, tablu</p>

    <h4>Tables' status</h4>
    {% for table in tables %}
        <div class="row-fluid">
            <div class="well-large span8">

                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src='http://placekitten.com/120/180'/>
                    </a>
                    <div class="media-body">
                    <h4 class="media-heading">Table {{table.id}}</h4>

                    {% if table.message %}
                    <div class="alert alert-error">
                        {{ table.message }}
                    </div>
                    {% endif %}

                    {% if table.occupied %}
                    Occupied by: {{ table.occupant }}
                    {% else %}
                    Table is free.
                    {% endif %}

                    chaos percentage:
                    <div class="progress progress-warning progress-striped">
                    <div class="bar" style="width: {{table.chaos_percentage}}%"></div>
                    </div>


                    </div>
                </div>
            </div>
            <div class="well-large span4">
            <h4>Last actions</h4>
            </div>
        </div>

    {% endfor %}
    <h2>Camera one tables - management</h2>
    <p>
        What's it all about?
    </p>
    <div class="well-large">
    <form class='table_form form-horizontal'>

        <select id='table_id'>
            {% for table in tables %}
                <option value={{table.id}}>Table: {{table.id}}</option>
            {% endfor %}
        </select>
        <a href="" class="btn btn-success">Claim</a>
        <a href="" class="btn btn-default">Prolong</a>
        <a href="" class="btn btn-warning">Free</a>
    </form>
    </div>
    <h2>My table history</h2>
    <p>Once upon a time, there is a table...</p>

</div>

<div id='comunication'>
    <p id="log"></p>
</div>


{% endblock %}

