{% extends "layout.html" %}
{% block body %}
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<div id='main'>
    <div class="hero-unit">
        <h1>Chaos!</h1>
        <p>Oh, cool! Let's fight with mess and be excellent to each other!</p>
        <a href="https://wiki.hackerspace.pl/projects:hs-chaos" class="btn btn-success">Learn more!</a>
    </div>
    <h2>Available devices</h2>
    {% for camera_id, path in cameras %}
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" height="82" width="82" src="{{ url_for('static', filename=path)}}"/>
    </a>
    <div class="media-body">
        <h4 class="media-heading">Camera {{camera_id}}</h4>
        <p>Camera placed in the first room</p>
    </div>
</div>
    {% endfor %}

    <hr />
    {% for camera, path in cameras %}
        <h2>Camera {{camera}}</h2>

        <img class="media-object" src="{{ url_for('static', filename=path)}}"/>

    {% endfor %}

    {% for camera_id, tables in tables_per_cam.items() %}
    <h2>Camera {{camera_id}} tables - basic info</h2>

    <h4>Tables' status
        <a href="{{url_for('index')}}" class="btn btn-warning btn-large">Reload</a>
    </h4>
        {% for table in tables %}
        <div class="row-fluid">
            <div class="well-large span8">

                <div class="media" style="border-style:solid;
                        border-color: rgb{{table.color}};" >
                    <a class="pull-left" href="#">
                        <img class="media-object" src='http://placekitten.com/120/180'/>
                    </a>
                    <div class="media-body">
                    <h4 class="media-heading">Table {{table.name}}</h4>

                    {% if table.message %}
                    <div class="alert alert-error">
                        {{ table.message }}
                    </div>
                    {% endif %}
                    <p>
                    {% if table.occupied %}
                        Occupied by: {{ table.actions[0].user_id }}
                    {% else %}
                        Table is free.
                    {% endif %}
                    </p>
                    <p>
                        chaos percentage:
                    </p>
                    <div class="progress progress-warning progress-striped">
                    <div class="bar" style="width: {{table.chaos_percentage}}%"></div>
                    </div>


                    </div>
                </div>
            </div>
            <div class="well-large span4">
                <h4>Last actions</h4>
                {% for action in table.actions %}
                    <p>At {{ action.created.ctime()}} {{ action.user_id }} {{action.action}}ed table
                    {%if action.action == 'claim' %} for {{ action.how_long}}{% endif %} </p>

                {% endfor %}

            </div>
        </div>

        {% endfor %}
    {% endfor %}

    {% if session.logged_in %}
    <h2>Camera one tables - management</h2>
    <p>
        What's it all about?
    </p>
    <div class="well-large">
    <form class='table_form form-horizontal'
        action="{{ url_for('index') }}" method=post>

            <select id='table_id' name='table_id'>
            {% for camera, tables in tables_per_cam.items() %}
                {% for table in tables %}
                    <option value="{{table.id}}">{{camera}}: table: {{table.name}}</option>
                {% endfor %}
            {% endfor %}
            </select>
            <hr />

            <input id="claim" value="Claim" class="btn btn-success">
            <input id="free"  value="Free" class="btn btn-success">
    </form>
    </div>

</div>
    {% else %}
    <p>

    <a class="action login" href="{{ url_for('login') }}">Log in</a>
    to manage tables and see your history.
    </p>
    {% endif %}

    <script>
        function claim_table() {
            $.post(
                '/claim', {
                table_id: $('#table_id').val()
                }
            ).done(function() {
                $('#communication').append('<p>Claimed, Ok.</p>');
            }
            );
        }

        function free_table() {
            $.post(
                '/free', {
                table_id: $('#table_id').val()
                }
            ).done(function() {
                $('#communication').append('<p>Freed, Ok.</p>');
            }
            );
        }
        $(function() {
            $('#claim').click(claim_table);
            $('#free').click(free_table);
        });

    </script>

{% endblock %}
<div id="communication">
</div>
